<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link href="../static/css/delphi.css" rel="stylesheet" type="text/css">

  <script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
</head>

<body>

  <div class="container">

    <header> <a href="/">
        <h4 class="logo">Team 1</h4>
      </a>
      <nav>
        <ul>

          <li><a href="/">HOME</a></li>
          <li><a href="/team">THE TEAM</a></li>
          <li><a href="/about">ABOUT</a></li>
        </ul>
      </nav>
    </header>
    <section class="hero" id="hero">
      <h2 class="hero_header"> <span class="light">ABOUT THE PROJECT</span></h2>
    </section>
    <section class="footer_banner">
    </section>

    <footer>

      <article class="footer_column">
        <p style="color:black;">In order to create a project that fully utilizes the skills and tools that we have
          learned within this course, our group will be building a web application that prompts a user for their date of
          birth and then provides them with a personalized summary which includes the generational group that they are a
          part of (Baby Boomer, Millenial, Gen Z, etc.), their horoscope, their lunar zodiac, and other pieces of
          information that are specific to the date on which they were born. This web application will be engaging and
          informative for users. </p>
      </article>
      <article class="footer_column">
        <p style="color:black;">During a period where social distancing is being enforced and encouraged, this
          application could provide much needed entertainment to all the individuals who find themselves bored and stuck
          in self-quarantine. In order to begin developing this project, we will need to do a bit of research and first
          collect the information that we will eventually be providing to the users of the system. We will also need to
          be able to design an application that is intuitive and fun to use. In addition, we could provide links to
          resources regarding best hygiene practices and recommendations from the CDC regarding COVID-19 to ensure that
          the mission of the application is even further achieved. </p>
      </article>
    </footer>
    <section class="footer_banner" id="contact">
    </section>
  </div>


</body>

</html>